Repository worldbank/gld, pull requests merged in 2021-09, with the labels that each got.

#118 Resolve errors in ISIC and ISCO keys
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_GLD_LFS.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_GLD_LFS.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_GLD_LFS.do
  GLD/PHL/utilities/issue117_check.do
  Support/Global/correspondance.R
  Support/Global/international_codes.R
Labels: bug, ISIC/ISCO

#121 Update PHL with Directory Changes
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_GLD_LFS.do
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_I2D2/Programs/PHL_1997_I2D2_LFS.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_GLD_LFS.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_I2D2/Programs/PHL_1998_I2D2_LFS.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_GLD_LFS.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_I2D2/Programs/PHL_1999_I2D2_LFS.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_GLD_LFS.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_I2D2/Programs/PHL_2000_I2D2_LFS.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_GLD_LFS.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_I2D2/Programs/PHL_2001_I2D2_LFS.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_GLD_LFS.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_I2D2/Programs/PHL_2002_I2D2_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_GLD_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_APR.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_JAN.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_JUL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_OCT.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_archive.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_GLD_LFS.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_I2D2/Programs/PHL_2004_I2D2_LFS.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_GLD_LFS.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_I2D2/Programs/PHL_2005_I2D2_LFS.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_GLD_LFS.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_I2D2/Programs/PHL_2006_I2D2_LFS.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_GLD_LFS.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_I2D2/Programs/PHL_2007_I2D2_LFS.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_GLD/Programs/PHL_2008_GLD_LFS.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_I2D2/Programs/PHL_2008_I2D2_LFS.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_GLD/Programs/PHL_2009_GLD_LFS.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_I2D2/Programs/PHL_2009_I2D2_LFS.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_GLD/Programs/PHL_2010_GLD_LFS.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_I2D2/Programs/PHL_2010_I2D2_LFS.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_GLD/Programs/PHL_2011_GLD_LFS.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_I2D2/Programs/PHL_2011_I2D2_LFS.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_GLD_LFS.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_I2D2/Programs/PHL_2012_I2D2_LFS.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_GLD_LFS.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_GLD_LFS_archive.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_I2D2/Programs/PHL_2013_I2D2_LFS.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_GLD/Programs/PHL_2014_GLD_LFS.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_I2D2/Programs/PHL_2014_I2D2_LFS.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_GLD/Programs/PHL_2015_GLD_LFS.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_I2D2/Programs/PHL_2015_I2D2_LFS.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_GLD_LFS.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_I2D2/Programs/PHL_2016_I2D2_LFS.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_GLD_LFS.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_I2D2/Programs/PHL_2017_I2D2_LFS.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_GLD/Programs/PHL_2018_GLD_LFS.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_I2D2/Programs/PHL_2018_I2D2_LFS.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_GLD/Programs/PHL_2019_GLD_LFS.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_I2D2/Programs/PHL_2019_I2D2_LFS.do
  GLD/PHL/PHL_MAIN.do
  Support/Global/province_label_util.R
Labels: organize

#124 Phl isic isco isced
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_GLD_LFS.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_GLD_LFS.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_GLD_LFS.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_GLD_LFS.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_GLD_LFS.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_GLD_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_GLD_LFS.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_GLD_LFS.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_GLD_LFS.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_GLD_LFS.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_GLD_LFS.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_GLD/Programs/PHL_2008_GLD_LFS.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_GLD/Programs/PHL_2009_GLD_LFS.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_GLD/Programs/PHL_2010_GLD_LFS.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_GLD/Programs/PHL_2011_GLD_LFS.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_GLD_LFS.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_GLD_LFS.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_GLD_LFS_archive.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_GLD/Programs/PHL_2014_GLD_LFS.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_GLD/Programs/PHL_2015_GLD_LFS.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_GLD_LFS.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_GLD_LFS.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_GLD/Programs/PHL_2018_GLD_LFS.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_GLD/Programs/PHL_2019_GLD_LFS.do
Labels: PHL, ISIC/ISCO

#130 add educat_orig to PHL
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_GLD/Programs/PHL_2008_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_GLD/Programs/PHL_2009_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_GLD/Programs/PHL_2010_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_GLD/Programs/PHL_2011_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_GLD/Programs/PHL_2014_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_GLD/Programs/PHL_2015_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_GLD/Programs/PHL_2018_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_GLD/Programs/PHL_2019_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_MAIN.do
  Support/Global/label_tools.R
  Support/Q Checks/Helper Programs/Dynamic Quality Checks.R
  renv.lock
Labels: GLD, PHL

#135 Phl i2d2 recode
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_I2D2/Programs/PHL_1997_I2D2_LFS.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_I2D2/Programs/PHL_1998_I2D2_LFS.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_I2D2/Programs/PHL_1999_I2D2_LFS.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_I2D2/Programs/PHL_2000_I2D2_LFS.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_I2D2/Programs/PHL_2001_I2D2_LFS.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_I2D2/Programs/PHL_2002_I2D2_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_APR.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_JAN.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_JUL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_OCT.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_archive.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_I2D2/Programs/PHL_2004_I2D2_LFS.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_I2D2/Programs/PHL_2005_I2D2_LFS.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_I2D2/Programs/PHL_2006_I2D2_LFS.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_I2D2/Programs/PHL_2007_I2D2_LFS.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_I2D2/Programs/PHL_2008_I2D2_LFS.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_I2D2/Programs/PHL_2009_I2D2_LFS.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_I2D2/Programs/PHL_2010_I2D2_LFS.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_I2D2/Programs/PHL_2011_I2D2_LFS.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_I2D2/Programs/PHL_2012_I2D2_LFS.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_I2D2/Programs/PHL_2013_I2D2_LFS.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_I2D2/Programs/PHL_2014_I2D2_LFS.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_I2D2/Programs/PHL_2015_I2D2_LFS.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_I2D2/Programs/PHL_2016_I2D2_LFS.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_I2D2/Programs/PHL_2017_I2D2_LFS.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_I2D2/Programs/PHL_2018_I2D2_LFS.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_I2D2/Programs/PHL_2019_I2D2_LFS.do
Labels: I2D2, PHL

#138 Sample md
  Support/Country Survey Details/PHL/LFS/1.--Introduction-to-PHL.md
  Support/Country Survey Details/PHL/LFS/Rmd/1.  Introduction to PHL.Rmd
  Support/Country Survey Details/PHL/LFS/Rmd/Introduction to PHL.Rmd
  Support/Global/unique_hh_ind_obs.R
Labels: documentation

#139 Attempt 2 with relative branch links
  Support/Country Survey Details/PHL/LFS/1.--Introduction-to-PHL.md
  Support/Country Survey Details/PHL/LFS/Rmd/1.  Introduction to PHL.Rmd
Labels: documentation

#141 Moving IDN GLD codes from personal fork to WB/GLD develop branch
  GLD/IDN/IDN_1989_SAKERNAS/IDN_1989_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1989_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1990_SAKERNAS/IDN_1990_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1990_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1991_SAKERNAS/IDN_1991_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1991_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1992_SAKERNAS/IDN_1992_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1992_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1993_SAKERNAS/IDN_1993_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1993_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1994_SAKERNAS/IDN_1994_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1994_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1995_SAKERNAS/IDN_1995_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1995_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1996_SAKERNAS/IDN_1996_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1996_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1997_SAKERNAS/IDN_1997_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1997_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1998_SAKERNAS/IDN_1998_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1998_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_1999_SAKERNAS/IDN_1999_Sakernas_v01_M_v01_A_GLD/Programs/IDN_1999_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2000_SAKERNAS/IDN_2000_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2000_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2001_SAKERNAS/IDN_2001_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2001_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2002_SAKERNAS/IDN_2002_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2002_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2003_SAKERNAS/IDN_2003_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2003_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2004_SAKERNAS/IDN_2004_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2004_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2005_SAKERNAS/IDN_2005_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2005_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2006_SAKERNAS/IDN_2006_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2006_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2007_SAKERNAS/IDN_2007_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2007_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2008_SAKERNAS/IDN_2008_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2008_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2009_SAKERNAS/IDN_2009_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2009_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2010_SAKERNAS/IDN_2010_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2010_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2011_SAKERNAS/IDN_2011_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2011_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2012_SAKERNAS/IDN_2012_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2012_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2013_SAKERNAS/IDN_2013_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2013_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2014_SAKERNAS/IDN_2014_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2014_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2015_SAKERNAS/IDN_2015_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2015_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2016_SAKERNAS/IDN_2016_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2016_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2017_SAKERNAS/IDN_2017_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2017_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2018_SAKERNAS/IDN_2018_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2018_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/IDN/IDN_2019_SAKERNAS/IDN_2019_Sakernas_v01_M_v01_A_GLD/Programs/IDN_2019_Sakernas_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2008_QLFS/ZAF_2008_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2008_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2009_QLFS/ZAF_2009_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2009_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2010_QLFS/ZAF_2010_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2010_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2011_QLFS/ZAF_2011_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2011_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2012_QLFS/ZAF_2012_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2012_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2013_QLFS/ZAF_2013_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2013_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2014_QLFS/ZAF_2014_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2014_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2015_QLFS/ZAF_2015_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2015_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2016_QLFS/ZAF_2016_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2016_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2017_QLFS/ZAF_2017_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2017_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2018_QLFS/ZAF_2018_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2018_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2019_QLFS/ZAF_2019_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2019_QLFS_v01_M_v01_A_GLD_ALL.do
  GLD/ZAF/ZAF_2020_QLFS/ZAF_2020_QLFS_v01_M_v01_A_GLD/Programs/ZAF_2020_QLFS_v01_M_v01_A_GLD_ALL.do
Labels: GLD, IDN

#140 Sample Add renv to Main Branch
  .gitignore
  gld.Rproj
  renv.lock
  renv/.gitignore
  renv/activate.R
Labels: enhancement, organize

#143 Remaining GLD revisions for PHL
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_GLD/Programs/PHL_2008_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_GLD/Programs/PHL_2009_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_GLD/Programs/PHL_2010_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_GLD/Programs/PHL_2011_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_GLD/Programs/PHL_2014_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_GLD/Programs/PHL_2015_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_GLD/Programs/PHL_2018_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_GLD/Programs/PHL_2019_LFS_v01_M_v01_A_GLD_ALL.do
  Support/Country Survey Details/PHL/LFS/Rmd/Weights_PSA_Checks.Rmd
  Support/Global/import_surveys.R
  Support/Global/weights_analysis.R
  Support/Global/weights_per_HH.R
  Support/Templates/1. Introduction to [Survey Acronym].md
  renv.lock
Labels: GLD, PHL

#147 Fix miscellaneous variable types
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_GLD/Programs/PHL_2008_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_GLD/Programs/PHL_2009_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_GLD/Programs/PHL_2010_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_GLD/Programs/PHL_2011_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_GLD/Programs/PHL_2014_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_GLD/Programs/PHL_2015_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_GLD/Programs/PHL_2019_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_MAIN.do
Labels: GLD, PHL

#149 Convert 2016 isco codes to ISCO-08
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_LFS_v01_M_v01_A_GLD_ALL.do
  Support/Global/international_codes.R
Labels: GLD, PHL, ISIC/ISCO

#150 Incorporate ISIC and ISCO 2-digit data
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2008_LFS/PHL_2008_LFS_v01_M_v01_A_GLD/Programs/PHL_2008_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2009_LFS/PHL_2009_LFS_v01_M_v01_A_GLD/Programs/PHL_2009_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2010_LFS/PHL_2010_LFS_v01_M_v01_A_GLD/Programs/PHL_2010_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2011_LFS/PHL_2011_LFS_v01_M_v01_A_GLD/Programs/PHL_2011_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2012_LFS/PHL_2012_LFS_v01_M_v01_A_GLD/Programs/PHL_2012_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2013_LFS/PHL_2013_LFS_v01_M_v01_A_GLD/Programs/PHL_2013_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2014_LFS/PHL_2014_LFS_v01_M_v01_A_GLD/Programs/PHL_2014_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2015_LFS/PHL_2015_LFS_v01_M_v01_A_GLD/Programs/PHL_2015_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2018_LFS/PHL_2018_LFS_v01_M_v01_A_GLD/Programs/PHL_2018_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2019_LFS/PHL_2019_LFS_v01_M_v01_A_GLD/Programs/PHL_2019_LFS_v01_M_v01_A_GLD_ALL.do
  Support/Country Survey Details/PHL/LFS/Rmd/Industry_Occupation_Codes.Rmd
  Support/Global/international_codes.R
  Support/Global/isic_isco_checks.R
  Support/Global/population_lfp.R
Labels: GLD, PHL, ISIC/ISCO

#152 Resolve weight variable discrepancy and document it
  Support/Country Survey Details/PHL/LFS/1.--Introduction-to-PHL.md
  Support/Country Survey Details/PHL/LFS/Rmd/weights_methodology.Rmd
  Support/Global/population_lfp.R
Labels: documentation, PHL

#156 Adjust PHL weight variable scaling in main code
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_GLD/Programs/PHL_1997_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1997_LFS/PHL_1997_LFS_v01_M_v01_A_I2D2/Programs/PHL_1997_I2D2_LFS.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_GLD/Programs/PHL_1998_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1998_LFS/PHL_1998_LFS_v01_M_v01_A_I2D2/Programs/PHL_1998_I2D2_LFS.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_GLD/Programs/PHL_1999_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_1999_LFS/PHL_1999_LFS_v01_M_v01_A_I2D2/Programs/PHL_1999_I2D2_LFS.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_GLD/Programs/PHL_2000_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2000_LFS/PHL_2000_LFS_v01_M_v01_A_I2D2/Programs/PHL_2000_I2D2_LFS.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_GLD/Programs/PHL_2001_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2001_LFS/PHL_2001_LFS_v01_M_v01_A_I2D2/Programs/PHL_2001_I2D2_LFS.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_GLD/Programs/PHL_2002_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2002_LFS/PHL_2002_LFS_v01_M_v01_A_I2D2/Programs/PHL_2002_I2D2_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_GLD/Programs/PHL_2003_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_APR.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_JAN.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_JUL.do
  GLD/PHL/PHL_2003_LFS/PHL_2003_LFS_v01_M_v01_A_I2D2/Programs/PHL_2003_I2D2_LFS_OCT.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_GLD/Programs/PHL_2004_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2004_LFS/PHL_2004_LFS_v01_M_v01_A_I2D2/Programs/PHL_2004_I2D2_LFS.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_GLD/Programs/PHL_2005_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2005_LFS/PHL_2005_LFS_v01_M_v01_A_I2D2/Programs/PHL_2005_I2D2_LFS.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_GLD/Programs/PHL_2006_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2006_LFS/PHL_2006_LFS_v01_M_v01_A_I2D2/Programs/PHL_2006_I2D2_LFS.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_GLD/Programs/PHL_2007_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2007_LFS/PHL_2007_LFS_v01_M_v01_A_I2D2/Programs/PHL_2007_I2D2_LFS.do
  GLD/PHL/PHL_2016_LFS/PHL_2016_LFS_v01_M_v01_A_GLD/Programs/PHL_2016_LFS_v01_M_v01_A_GLD_ALL.do
  GLD/PHL/PHL_2017_LFS/PHL_2017_LFS_v01_M_v01_A_GLD/Programs/PHL_2017_LFS_v01_M_v01_A_GLD_ALL.do
  Support/Country Survey Details/PHL/LFS/Rmd/weights_methodology.Rmd
  Support/Country Survey Details/PHL/LFS/weights_methodology.html
  Support/Global/population_lfp.R
Labels: variable coding, PHL
